<div class="aboutUs">
  <div class="aboutUs__landing">
    <app-landing [headings]="headings"></app-landing>
  </div>
  <div class="aboutUs__offerings">
    <app-offerings [offers]="offers"></app-offerings>
  </div>
  <div class="aboutUs__intro">
    <div class="aboutUs__intro__container">
      <div class="aboutUs__intro__content">
        <div class="aboutUs__intro__content__head">
          <h4 class="aboutUs__intro__content__head-title">
            Introducing MobiGarage - A B2B Platform for Electronics, Spares and
            Accessories
          </h4>
        </div>
        <p class="aboutUs__intro__content__head-desc">
          Introducing MobiGarage – Retail Technology Platform for Electronics,
          Spares & Accessories MobiGarage is a leading retail technology
          platform designed to empower businesses across the electronics
          ecosystem, including mobiles, accessories, and spare parts. The
          platform enables Tier 2, Tier 3, and emerging market retailers to
          digitize operations, manage inventory efficiently, and access the best
          pricing for their products. By connecting a wide network of phone
          retailers and mobile kiosks, MobiGarage addresses the common gaps in
          stock availability and pricing in the unorganized electronics market.
          It enhances the accessibility of high-quality, affordable products for
          end customers and facilitates smooth liquidation of electronics,
          spares, and accessories, strengthening India’s circular economy.
        </p>
      </div>
      <a routerLink="/products" class="aboutUs__intro-btn"
        >See products &#8594;</a
      >
    </div>
  </div>
  <div class="aboutUs__vision">
    <app-vision [visions]="visions"></app-vision>
  </div>
  <div class="aboutUs__mission">
    <app-mission [missions]="missions"></app-mission>
  </div>
  <div class="aboutUs__culture">
    <div class="aboutUs__culture__head">
      <h4 class="aboutUs__culture__head-desc">
        Welcome to a team of <br />creators & innovators.
      </h4>
    </div>
    <div class="aboutUs__culture__content">
      <app-culture [cultures]="cultures"></app-culture>
    </div>
  </div>
  <div class="aboutUs__partners">
    <div class="aboutUs__partners__head">
      <p class="aboutUs__partners__head-desc">Meet our supporting investors</p>
    </div>
    <div class="aboutUs__partners__carousel">
      <app-partner-slide [partners]="partners"></app-partner-slide>
    </div>
  </div>
</div>
